// box sizing
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
	background: #efefef;
}

.site-wrapper{
	background:white;
	width:80%;
	max-width:$width;
	margin: 0 auto;
	padding:0 50px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

header{
	padding:$padding;
}

header h1{
	margin-bottom:0;
	font-size:44px;
}

header h2{
	color:silver;
	font-weight:normal;
	margin:0;
}

footer{
	padding:$padding;
}