
#posts{
	margin-top:40px;
	display:flex;
	flex-direction:column;
}

.post + .post{
	border-top:1px solid #efefef;
}
.post{
	padding: $padding;
	display:flex;
	justify-content: space-between;
	margin:10px 0;
	@media all and (max-width:680px){
		flex-direction:column;
	}
}

.post__image img{
	width:150px;
	border:1px solid #efefef;
	@media all and (max-width:680px){
		width:300px;
		height:auto;
		max-width:100%;
	}
}

.post__content{
	width: calc(100% - 180px); // 30px gutter
	@media all and (max-width:680px){
		width:100%;
	}
}

.post__title{
	margin-top:0;
	line-height:1.2;
}

.post__excerpt{
	color: #888;
	line-height:1.4;
}

.post__metadata{
	font-size:14px;
	.source{
		color: #5F5F5F;
		text-transform:uppercase;
	}
	.info{
		padding: 3px 6px;
		border-radius:3px;
		border: 1px solid $metadata-color;	
		color: $metadata-color;	
	}
	
}
